.radio-button {
  --option-selected-color: 214, 219, 245;

  display: flex;
  justify-content: center;
  align-items: center;
}

.radio-button input {
  position: fixed;
  opacity: 0;
  width: 0;
}

.radio-button label {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  border-radius: 8px;
  border: 0.8px solid #4d5b9e;
  min-width: 64px;
  padding: 4px 8px;

  background: transparent;
  font-weight: 500;
  font-size: 0.625rem;

  &:hover {
    background-color: rgba(var(--option-selected-color), 0.35);
    cursor: pointer;
  }
}

.radio-button input[type="radio"]:checked + label {
  border-radius: 8px;

  background: rgb(var(--option-selected-color));

  &:hover {
    background-color: rgb(var(--option-selected-color));
  }
}
