.question {
  --option-selected-color: 214, 219, 245;
  min-width: 340px;
  border: none;
}

@media only screen and (min-width: 768px) {
  .question {
    min-width: 728px;
  }
}

.trivia-item__title {
  font-size: 1rem;
  font-weight: 700;
  text-align: left;
  margin-bottom: 12px;
}

.trivia-item__options-container {
  display: flex;
  gap: 12px;
  margin-bottom: 15px;
}

.trivia-item__line {
  border: 0.8px solid #dbdef0;
}
