h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

body {
  background: #f5f7fb;
  color: #293264;

  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.trivia-item-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
